<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title yield :title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :admin, media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%= render "admin/layouts/sidebar" %>
        <%= render "admin/layouts/header" %>
        <div class="right_col" role="main">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
        <%= render "admin/layouts/footer" %>
      </div>
    </div>
  </body>
</html>
