<tr>
  <td class="shoping__cart__item">
    <%= image_tag product.image %>
    <h5><%= product.name %></h5>
  </td>
  <td class="shoping__cart__price">
    <%= t(".price_product", price: handle_price(product)) %>
  </td>
  <td class="shoping__cart__quantity">
    <div class="quantity">
        <div class="pro-qty">
            <input type="text" value= <%= current_cart[product.id.to_s] %> >
        </div>
    </div>
  </td>
  <td class="shoping__cart__total">
    <%= t(".price_product", price: total_item(product)) %>
  </td>
  <td class="shoping__cart__item__close">
    <%= button_to cart_path(id: product.id), method: :delete do %>
      <span class="icon_close"></span>
    <% end %>
  </td>
</tr>
