<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="bi bi-envelope-fill"></i><%= Settings.header.email %></li>
              <li><%= t ".free_ship" %></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__language">
              <%= image_tag "language.png" %>
              <div><%= t ".english" %></div>
              <span class="arrow_carrot-down"></span>
              <ul>
                <%= link_to t(".english"), locale: :en %>
                <%= link_to t(".vietnamese"), locale: :vi %>
              </ul>
            </div>
            <% if logged_in? %>
              <div class="header__top__right__auth">
                <%= link_to current_user.email, current_user %>
              </div>
              <div class="header__top__right__auth">
                <%= link_to logout_path, method: :delete do %>
                  <i class="bi bi-box-arrow-left text-dark"></i>
                  <%= t("logout") %>
                <% end %>
              </div>
            <% else %>
              <div class="header__top__right__auth">
                <%= link_to login_path do %>
                  <i class="fa fa-user text-dark"></i>
                  <%= t(".login") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <%= link_to home_path do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-9">
        <nav class="header__menu">
          <ul>
            <li class="active"><%= link_to t(".home"), root_path %></li>
            <li><%= link_to t(".shop"), products_path %></li>
            <li><%= link_to t(".pages"), "#" %>
              <ul class="header__menu__dropdown">
                <li><%= link_to t(".shopping_cart"), "#" %></li>
                <li><%= link_to t(".checkout"), "#" %></li>
              </ul>
            </li>
            <li><%= link_to t(".contact"), "#" %></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li>
              <%= link_to "#" do %>
                <i class="bi bi-cart4"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="bi bi-list"></i>
            <span><%= t ".all_categories" %></span>
            <i class="bi bi-arrow-down"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <%= form_tag(products_path, method: :get) do %>
              <%= text_field_tag :term,params[:search], placeholder: t(".placeholder") %>
              <button type="submit" class="site-btn"><%= t ".search" %></button>
            <% end %>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5><%= Settings.header.phone %></h5>
              <span><%= t ".support" %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
